<script type="text/javascript">
    const c_date = new Date();

    var filterd_date = c_date.toLocaleDateString('hi-IN', options);
    var filterd_time = c_date.toLocaleTimeString('hi-IN', options);

    function startTime() {
    const today = new Date();
    let h = today.getHours();
    let m = today.getMinutes();
    let s = today.getSeconds();
    var ampm = h >= 12 ? ' PM' : ' AM';
    m = checkTime(m);
    s = checkTime(s);
    setTimeout(startTime, 1000);
    document.getElementById('date_time').innerHTML = "⏳"+ h + ":" + m + ":" + s + ampm+"  -  " +"📆" +filterd_date ;
}

    startTime();

    function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}


    </script>





