@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    background-color: #000000;
    color: #f5f6f7; 
}
.top{
    text-align: right;
    padding: 10px;
}
section{
    position: relative;
}
h2{
    text-align: center;
    font-size: 45px;
    font-weight: 1000;
    position: absolute;
    top: 100px;
    left: 500px;
    color: white;
    line-height: 30px; 
}  
table{
   position: absolute;
   top: 180px;
   left: 320px;
   width: 60vw;
   border: 1px solid  #CDCDCD;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
}
th{
    font-size: 20px; 
}
td{
    font-size: 17px;
}
table, th, td {
    padding: 18px 10px;
    background-color: dimgray;
    text-align: center;
   
  } 
.join{
    border: 1px solid  #CDCDCD;
    border-radius: 11px;
    height: 35px;
    width: 100px;
    background: #5C5C5C;
    text-transform: uppercase;
    font-size: 18px;
}
.border{
   border-bottom:1px solid #CDCDCD;
   padding: 0;
}
/* --media queries --*/
@media (max-width: 575.98px) { 
    h2{
        top: 40px;
        left: 25px;
        font-size: 25px;
    }
    table{
        top: 120px;
        left: 25px;
        width: 87vw;       
    }
    td{
        font-size: 15px;
    }
    .join{
        width: 50px;
    }
    .top{
        font-size: 12px;
    }
   
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
    h2{
        top: 50px;
        left: 150px;
        font-size: 28px;
    }
    table{
        top: 130px;
        left: 45px;
        width: 85vw;    
    }
    .join{
        width: 100px;
    }
    .top{
        font-size: 15px;
    }
 }
 @media (min-width: 767.98px) and (max-width: 991.98px){
    h2{
        top: 100px;
        left: 200px;
        font-size: 33px;
    }
    table{
        top: 200px;
        left: 60px;
        width: 85vw;
    }
    td{
        font-size: 30px;
    }
    .join{
        width: 100px;
        font-size: 28px;
        height: 60px;
    }
    .top{
        font-size: 18px;
    }
 }
 @media (min-width: 991.98px) and (max-width: 1199.98px){
    h2{
        top: 100px;
        left: 250px;
        font-size: 40px;
    }
    table{
        top: 200px;
        left: 120px;
        width: 75vw;
        
    }
    td{
        font-size: 22px;
    }
    .join{
        width: 100px;
        font-size: 26px;
        height: 60px;
    }
    .top{
        font-size: 18px;
    }
 }

@media (min-width: 1199.98px) and (max-width: 1399.98px){
    h2{
        top: 100px;
        left: 350px;
        font-size: 45px;
    }
    table{
        top: 200px;
        left: 175px;
        width: 75vw;
        
    }
    td{
        font-size: 25px;
    }
    .join{
        width: 100px;
        font-size: 28px;
        height: 60px;
    }
    .top{
        font-size: 18px;
    } 
}